.ProgressBar {
  background-color: lightgray;
  width: 100%;
  position: relative;
  height: 8px;
  margin-bottom: 2rem;
  &-Current {
    height: 100%;
    position: absolute;
    left: 0;
    transition: width 0.3s ease;
    background-color: var(--primary-base-color);
  }
  &-Step {
    color: white;
    background-color: var(--primary-base-color);
    transition: 0.3s ease background-color;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -200%;
    font-size: 1.5rem;
  }
  &-StepText {
    position: absolute;
    top: 120%;
    white-space: nowrap;
    color: black;
  }
}
